% -*- mode: erlang -*-

{erl_opts, [%{native, o3},
	    warn_missing_spec
	   ]}.

{cover_enabled, true}.

{deps, [
        {jsone, "1.2.2"}
       ]}.						     


% Documentation
{edoc_opts, [{skip_deps, true},
             {preprocess, true}, 
	     {packages, true}
	     ] }.

{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.


{relx, [{release, {'erldyn', "0.6.0"},
         ['erldyn',
          kernel,
	  stdlib,
	  sasl, 
	  inets,
	  {observer,load},
	  {wx, load},
	  {runtime_tools, load},
          inets,
          ssl
	 ]}, 
	
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "./config/sys.config"},
        {extended_start_script, true}]}.

{profiles, [
	    {prod, [
		    {relx, [{dev_mode, false},
                            {include_erts, true},
			    {include_src, false}]}
		   ]}
	    ]
}.
